<div class="flex flex-col justify-center items-center w-full">
  <h2 class="text-2xl font-bold mb-4">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mb-4">
      <%= f.label :email, class: "block text-base font-medium text-black" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "p-3 w-full border border-gray-300 rounded-md bg-white text-white focus:outline-none focus:ring-2 focus:ring-black focus:border-black" %>
    </div>

    <div class="field mb-4">
      <%= f.label :password, class: "block text-base font-medium text-black" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "p-3 w-full border border-gray-300 rounded-md bg-white text-white focus:outline-none focus:ring-2 focus:ring-black focus:border-black" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field items-center mb-4">
        <%= f.check_box :remember_me, class: "h-4 w-4 text-black focus:ring-black border-gray-300 rounded" %>
        <%= f.label :remember_me, class: "ml-2 text-sm text-black" %>
      </div>
    <% end %>

    <div class="actions mb-4">
      <%= f.submit "Log in", class: "p-3 w-full text-black bg-white border-2 border-black rounded-md hover:bg-black hover:text-white focus:outline-none focus:ring-2 focus:ring-black font-bold" %>
    </div>
  <% end %>
  <div class="flex gap-x-2 ml-2 justify-center items-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
